img {
  display: flex;
  max-width: 420px;
  width: 600px;
  height: 150px;
  margin: auto;
}

h1 {
  color: red;
  text-align: center;
  padding-top: 0%;
  margin-top: 0%;
}

.restourant_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  padding: 10px;
  margin: auto;
}

.restourant_card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  color: black;
  text-align: center;
  align-items: center;
  background-color: azure;
  max-width: 100%;
  height: auto;
}

.restourant_card button {
  width: 200px;
  height: 50px;
  cursor: pointer;
  background-color: red;
  color: white;
  border-radius: 20px;
}

.restourant_card button a {
  text-decoration: none;
  color: aliceblue;
}

.restourant_card button a:hover {
  color: yellow;
}

.restourant_card img {
  display: flex;
  flex-direction: row;
  object-fit: cover;
  text-align: center;
  align-items: center;
  border-radius: 20px;
  margin-top: 20px;
  width: 180px;
  height: 190px;
}

p {
  margin-top: 0%;
}
